/bin/
/out/
*.iml

# Android and Android Studio files
.idea/
.gradle/
client/app/src/
client/app/build/
client/local.properties

# Java generated/utility files
.class
.classpath
.project


*.com
*.exe
*.log
*.sql
*.sqlite


# OS files
.classpath
.project
.DS_Store
.DS_Store?
