/bin/
/out/
*.iml

# Android and Android Studio files
.idea/
.gradle/
app/build/
local.properties
build/

# Java generated/utility files
.class
.classpath
.project


*.com
*.exe
*.log
*.sql
*.sqlite


# OS files
.classpath
.project
.DS_Store
.DS_Store?
*.class
*.rawproto
*.json
